*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 400;
}

.main {
  overflow: hidden;
}

.row {
  width: 85% !important;
  margin: 0 auto !important;
}

@media (max-width: 768px) {
  .row {
    width: 90% !important;
  }
}
.heading-primary {
  font-size: 5.2rem;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
}
.heading-primary::before {
  content: "";
  height: 0.5rem;
  width: 6rem;
  bottom: -2rem;
  left: 0.2rem;
  background-color: #ec5242;
  position: absolute;
}

.title-lead-text {
  color: #ec5242;
  font-size: 1.8rem;
}

.heading-secondary {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 4rem;
}
.heading-secondary-dark {
  color: #272a31;
}
.heading-secondary-white {
  color: #fff;
}
.heading-secondary::before {
  content: "";
  height: 2px;
  width: 4rem;
  background-color: #ec5242;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.heading-large {
  font-size: 6rem;
  font-weight: 600;
  color: #ec5242;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  line-height: 1;
  position: relative;
}
.heading-large::before {
  content: "";
  height: 1.5px;
  width: 4rem;
  background-color: #ec5242;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

p {
  margin-bottom: 1.5rem;
}

@media (max-width: 1200px) {
  .heading-primary {
    font-size: 4.2rem;
    line-height: 1;
  }
  .heading-primary::before {
    content: "";
    width: 6rem;
  }
}
@media (max-width: 992px) {
  .heading-primary {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .heading-large {
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .heading-primary {
    font-size: 2.4rem;
  }
  .heading-large {
    font-size: 2.4rem;
  }
}
/* UTILITIES CLASSES */
.m-b-s {
  margin-bottom: 2rem !important;
}

.m-b-m {
  margin-bottom: 3rem !important;
}

.m-b-l {
  margin-bottom: 4rem !important;
}

.m-b-xl {
  margin-bottom: 6rem !important;
}

.m-t-s {
  margin-top: 2rem !important;
}

.m-t-m {
  margin-top: 3rem !important;
}

.m-t-l {
  margin-top: 4rem !important;
}

.m-t-xl {
  margin-top: 6rem !important;
}

/* HEADER SECTION */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.05);
  z-index: 999;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .header-top-container {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.header .header-top-container a:link,
.header .header-top-container a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
}
.header .header-top-container a:hover,
.header .header-top-container a:active {
  color: #ec5242;
}
.header .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  visibility: visible;
}
.header .nav-links-item a:link,
.header .nav-links-item a:visited {
  text-decoration: none;
  color: #272a31;
  font-size: 1.6rem;
  transition: all 0.2s;
  font-weight: 600;
}
.header .nav-links-item a:hover,
.header .nav-links-item a:active {
  color: #ec5242;
}
.header .nav-links-item.btn {
  padding: 0;
}
.header .nav-links-item.btn a:link,
.header .nav-links-item.btn a:visited {
  color: #ec5242;
  border: solid 2px #ec5242;
  padding: 0.4rem 1.2rem;
}
.header .nav-links-item.btn a:hover,
.header .nav-links-item.btn a:active {
  filter: brightness(0.7);
}
.header .logo {
  height: 4.5rem;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.header-top {
  background-color: #272a31;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
}
.header-top .social-links {
  margin-left: auto;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-top .user-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  font-size: 1.4rem;
}

.header-bottom {
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-button .menu-icon {
  font-size: 2rem;
  color: #272a31;
}

@media (max-width: 768px) {
  .menu-button {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    z-index: 9;
  }
  .header-top {
    display: none;
  }
  .header-top .social-links {
    margin-left: 0;
  }
  .header-top-container {
    justify-content: space-between;
  }
  .header .logo {
    display: none;
  }
  .header-bottom .nav {
    width: 100%;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem !important;
    top: 0;
    left: 0;
  }
  .header-bottom .nav .nav-links {
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 2rem;
    padding-top: 6rem;
    z-index: 6;
  }
}
.hero-container {
  padding: 0 11rem;
}
.hero-container p {
  color: #d3d3d3;
  font-size: 2.4rem;
}

.event-details {
  border-radius: 0.5rem;
  align-self: flex-start;
}
.event-details p {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ec5242;
  font-weight: 600;
}
.event-details p sup {
  font-size: 1.2rem;
}
.event-details .fa-location-dot {
  margin-right: 0.5rem;
}
.event-details a:link,
.event-details a:visited {
  color: #0a66c2;
  font-size: 1.6rem;
}

.header-buttons {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .hero-container {
    padding: 0 0;
  }
}
.programs-body {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.programs-body .program {
  background-color: rgba(39, 42, 49, 0.85);
  padding: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  flex: 1 1 20rem;
}
.programs-body .program .icon {
  font-size: 6rem;
  color: #fff;
}
.programs-body .program h3 {
  margin: 2rem 0 0.5rem 0;
  color: #ec5242;
  line-height: 1.2;
  font-size: 1.8rem;
}
.programs-body .program p {
  color: #fff;
  font-size: 1.6rem;
}

.programs-footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.programs-footer .link {
  text-transform: uppercase;
}

.featured-speakers-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 4rem;
  padding: 3rem;
}
.featured-speakers-body .speaker {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
.featured-speakers-body .speaker::before {
  content: "";
  height: 8rem;
  width: 8rem;
  top: -2rem;
  left: -2.5rem;
  background-image: url("../img/Dotted griduser-pattern.svg");
  background-size: contain;
  position: absolute;
}
.featured-speakers-body .speaker-img {
  display: block;
  max-width: 16rem;
  z-index: 200;
}
.featured-speakers-body .speaker-details .name {
  font-weight: 600;
}
.featured-speakers-body .speaker-details .title {
  color: #ec5242;
  font-size: 1.6rem;
  font-style: italic;
  position: relative;
  margin-bottom: 1rem;
}
.featured-speakers-body .speaker-details .title::before {
  content: "";
  height: 2px;
  width: 5rem;
  background-color: #bfbfbf;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.featured-speakers-body .speaker-details .description {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .featured-speakers-body {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  .featured-speakers-body .speaker-img {
    max-width: 10rem;
  }
}
.partners-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.partners-logos img {
  height: 4rem;
  filter: grayscale(1);
  transition: filter 0.2s;
}
.partners-logos img:hover {
  filter: grayscale(0);
}

.about-hero-container .description {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;
  background-color: #fff;
  padding: 3rem;
  border: solid 1px #ddd;
}
.about-hero-container .email-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.about-hero-container .email-container .email-lead {
  margin-top: 6rem;
  margin-bottom: 1rem;
}
.about-hero-container .email-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.about-hero-container .email-container a i {
  font-size: 1.4rem;
  margin-bottom: -0.4rem;
}
.about-hero-container .email-container a:link,
.about-hero-container .email-container a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #272a31;
  font-weight: 600;
  transition: all 0.2s;
}
.about-hero-container .email-container a:hover,
.about-hero-container .email-container a:active {
  color: #ec5242;
}

.mission-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.mission-container .logo {
  height: 8rem;
  border: solid 1px #ddd;
  padding: 2rem;
  box-sizing: content-box;
  margin-top: 2rem;
}

.past-events-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.past-events-container .past-events {
  display: flex;
  gap: 3rem;
}
.past-events-container .past-events .image-container {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.past-events-container .past-events .image-container img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  z-index: 7;
  -o-object-fit: cover;
     object-fit: cover;
}
.past-events-container .past-events .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 82, 66, 0.6);
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.past-events-container .past-events .image-container .overlay h3 {
  font-size: 3rem;
}
.past-events-container .past-events .image-container .overlay:hover ~ img {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .mission-container {
    width: 70%;
  }
  .mission-container .logo {
    height: 6rem;
    box-sizing: content-box;
    margin-top: 2rem;
  }
  .past-events-container {
    width: 100%;
    text-align: center;
  }
  .past-events-container .past-events {
    gap: 2rem;
  }
  .past-events-container .past-events .image-container {
    height: 20rem;
  }
}
@media (max-width: 576px) {
  .past-events-container .past-events {
    flex-direction: column;
  }
  .mission-container {
    width: 80%;
  }
  .mission-container .logo {
    height: 4rem;
    box-sizing: content-box;
    margin-top: 2rem;
  }
  .email-container {
    width: 100%;
  }
  .email-container a {
    font-size: 1.5rem;
  }
  .about-hero-container .description {
    width: 100%;
  }
}
.footer {
  padding: 4rem 0;
}
.footer-dark {
  background-color: #272a31;
  color: #fff;
}

.footer-content {
  display: flex;
  gap: 4rem;
}
.footer-content img {
  height: 4.5rem;
}
.footer-content .copyright-content .copyright {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}
.footer-content .copyright-content p {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content img {
    height: 5rem;
  }
}
.btn {
  cursor: pointer;
  padding: 1rem 2.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.btn-primary {
  background-color: #ec5242;
  border: solid 2px #ec5242;
  color: #fff;
  transition: all 0.2s;
}
.btn-primary:hover {
  filter: brightness(0.7);
}
.btn-secondary {
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  transition: all 0.2s;
}
.btn-secondary:hover {
  filter: brightness(0.7);
}
.btn-outline {
  color: #272a31;
}

.link:link, .link:visited {
  text-decoration: none;
  border-bottom: 1px solid #272a31;
  padding-bottom: 2px;
  transition: all 0.2s;
  color: #272a31;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
}
.link:hover, .link:active {
  color: #ec5242;
  border-bottom: 1px solid currentColor;
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .btn {
    padding: 0.6rem 1.8rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}
/* HERO SECTION */
.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/hero-entre.jpg");
  min-height: calc(100vh - 9rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-program {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.3'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 40rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.section-featured-speakers {
  padding: 4rem 0;
}

.section-partners {
  padding: 5rem 0;
  background-color: #272a31;
}

.about-hero {
  padding: 6rem 0;
  background-image: url("../img/main_big.png");
  background-size: cover;
  min-height: 90vh;
}

.about-mission {
  padding: 6rem 0;
}

.section-past-events {
  padding: 6rem 0;
  border-top: solid 2px #ddd;
}

/*
// BREAK POINTS - Adopted from Boostrap : https://getbootstrap.com/docs/5.0/layout/breakpoints/

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1400px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { ... }

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) { ... }

*//*# sourceMappingURL=main.css.map */