/* UTILITIES CLASSES */

.m-b-s {
  margin-bottom: 2rem !important;
}

.m-b-m {
  margin-bottom: 3rem !important;
}

.m-b-l {
  margin-bottom: 4rem !important;
}

.m-b-xl {
  margin-bottom: 6rem !important;
}

.m-t-s {
  margin-top: 2rem !important;
}

.m-t-m {
  margin-top: 3rem !important;
}

.m-t-l {
  margin-top: 4rem !important;
}

.m-t-xl {
  margin-top: 6rem !important;
}
