.about-hero-container {
  .description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
    background-color: #fff;
    padding: 3rem;
    border: solid 1px #ddd;
  }

  .email-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    .email-lead {
      margin-top: 6rem;
      margin-bottom: 1rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

      i {
        font-size: 1.4rem;
        margin-bottom: -0.4rem;
      }
    }

    a:link,
    a:visited {
      text-decoration: none;
      font-size: 1.6rem;
      color: $color-primary;
      font-weight: 600;
      transition: all 0.2s;
    }

    a:hover,
    a:active {
      color: $color-secondary;
    }
  }
}

.mission-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  .logo {
    height: 8rem;
    border: solid 1px #ddd;
    padding: 2rem;
    box-sizing: content-box;
    margin-top: 2rem;
  }
}

.past-events-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  .past-events {
    display: flex;
    gap: 3rem;

    .image-container {
      height: 25rem;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        z-index: 7;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-secondary, 0.6);
        z-index: 10;
        color: #fff;

        h3 {
          font-size: 3rem;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .overlay:hover ~ img {
        transform: scale(1.08);
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .mission-container {
    width: 70%;

    .logo {
      height: 6rem;
      box-sizing: content-box;
      margin-top: 2rem;
    }
  }

  .past-events-container {
    width: 100%;
    text-align: center;

    .past-events {
      gap: 2rem;

      .image-container {
        height: 20rem;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .past-events-container {
    .past-events {
      flex-direction: column;
    }
  }

  .mission-container {
    width: 80%;

    .logo {
      height: 4rem;
      box-sizing: content-box;
      margin-top: 2rem;
    }
  }

  .email-container {
    width: 100%;

    a {
      font-size: 1.5rem;
    }
  }

  .about-hero-container {
    .description {
      width: 100%;
    }
  }
}
