/* HEADER SECTION */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.05);
  z-index: 999;

  .nav {
    display: flex;
    align-items: center;
  }

  .header-top-container {
    display: flex;
    align-items: center;
    gap: 6rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: #fff;
      transition: all 0.2s;
    }

    a:hover,
    a:active {
      color: $color-secondary;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;

    &-item {
      a:link,
      a:visited {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.6rem;
        transition: all 0.2s;
        font-weight: 600;
      }

      a:hover,
      a:active {
        color: $color-secondary;
      }
    }

    &-item.btn {
      padding: 0;

      a:link,
      a:visited {
        color: $color-secondary;
        border: solid 2px $color-secondary;
        padding: 0.4rem 1.2rem;
      }

      a:hover,
      a:active {
        filter: brightness(0.7);
      }
    }
  }

  .logo {
    height: 4.5rem;
  }
}

.header-top {
  background-color: $color-primary;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;

  .social-links {
    margin-left: auto;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .user-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-size: 1.4rem;
  }
}

.header-bottom {
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: none;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .menu-button {
    display: flex;
  }

  .header {
    .nav-links {
      display: none;
    }
  }

  .header-top {
    .social-links {
      margin-left: 0;
    }
  }

  .header-top-container {
    justify-content: space-between;
  }
}
