.btn {
  cursor: pointer;
  padding: 1rem 2.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;

  &-primary {
    background-color: $color-secondary;
    border: solid 2px $color-secondary;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      filter: brightness(0.7);
    }
  }

  &-secondary {
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .btn {
    padding: 0.6rem 1.8rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}
